/* This multicol CSS class comes from
  https://stackoverflow.com/questions/29738975/
  how-to-align-a-group-of-checkboxgroupinput-in-r-shiny */
.multicol { 
  -webkit-column-count: 2; /* Chrome, Safari, Opera */ 
  -moz-column-count: 2;    /* Firefox */ 
  column-count: 2; 
  -moz-column-fill: auto;
  -column-fill: auto;
} 
.alignment_bar {
  display: grid;
  grid-template-columns: 25px 2px 25px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 34px; /* This should be equal to the height of the toolbar/buttons */
  visibility: hidden;
  z-index: 3;
  cursor: ew-resize;
}
.alignment_bar_line {
  border-left: 2px dashed black;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.alignment_bar_padding {
  opacity: 0;
  height: 100%;
  width: 100%;
}
.plot_brush {
  position: absolute;
  top: 34px; /* This should be equal to the height of the toolbar/buttons */
  height: 100%;
  visibility: hidden;
  z-index: 2;
  border-left: 2px solid rgb(36, 36, 255, 0.3);
  border-right: 2px solid rgb(36, 36, 255, 0.3);
  background-color: rgb(101, 163, 245, 0.3);
}
.plot_brush_button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  top: 2.5%;
  visibility: hidden;
  z-index: 3;
}